@{
    ViewBag.Title = "Forgot Password Confirmation";
}

    <div class="col-md-6 col-xs-12">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h4 class="box-title"> <span class="fa fa-envelope fa-2x"></span>&nbsp; Recuperación de Contraseña (Paso 2)</h4>
            </div>
            <div class="box-body">
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> El Correo ha sido Enviado !</h4>
                    <p>Porfavor sigua las instrucciones del correo para continuar recuprando tu cuenta.</p>
                    <p>Si no lo encuentra el correo, revise en carpeta de Spam, e indique que es correo deseado.</p>
                </div>                           
            </div>           
        </div>
    </div>


