<div class="box box-default">
    <div class="box box-header">
        <h4 class="box-title">Video Autocapacitación</h4>
    </div>
    <div class="box-body">
        @if ( User.IsInRole("Administradores"))
        {
            <div class="col-md-6">
                <div class="box box-default box-solid">
                    <div class="box-header ">
                        <h4 class="box-title">Entregas de Servicios - Jefes</h4>
                    </div>
                    <div class="box-body" style="text-align:center">
                        <video controls width="500" height="350">
                            <source src="../infraestructura/HelpVideo/Polytec Proveedores Entrega de Servicios - Jefes.mp4" type="video/mp4">
                            Su Dispositivo no Soporta Ver Videos
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-success box-solid">
                    <div class="box-header ">
                        <h4 class="box-title">Creación de Usuarios - CxP</h4>
                    </div>
                    <div class="box-body" style="text-align:center">
                        <video controls width="500" height="350">
                            <source src="../infraestructura/HelpVideo/01 Polytec - Cxp - Creacion Usuarios.mp4" type="video/mp4">
                            Su Dispositivo no Soporta Ver Videos
                        </video>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-warning box-solid">
                    <div class="box-header ">
                        <h4 class="box-title">Opciones Generales - CxP</h4>
                    </div>
                    <div class="box-body" style="text-align:center">
                        <video controls width="500" height="350">
                            <source src="../infraestructura/HelpVideo/02 Polytec - Cxp - Opciones Generales del Sistema.mp4" type="video/mp4">
                            Su Dispositivo no Soporta Ver Videos
                        </video>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="box box-danger box-solid">
                    <div class="box-header ">
                        <h4 class="box-title">Proceso de Recepción - CxP</h4>
                    </div>
                    <div class="box-body" style="text-align:center">
                        <video controls width="500" height="350">
                            <source src="../infraestructura/HelpVideo/03 Polytec - Cxp - Proceso de Recepcion de Facturas.mp4" type="video/mp4">
                            Su Dispositivo no Soporta Ver Videos
                        </video>
                    </div>
                </div>

            </div>
        }

        <div class="col-md-6">
            <div class="box box-info box-solid">
                <div class="box-header ">
                    <h4 class="box-title">Capacitación General Proveedores - Proveedor</h4>
                </div>
                <div class="box-body" style="text-align:center">
                    <video controls width="500" height="350">
                        <source src="../infraestructura/HelpVideo/05 Capacitacion Proveedores.mp4" type="video/mp4">
                        Su Dispositivo no Soporta Ver Videos
                    </video>
                </div>
            </div>

        </div>
    </div>
</div>
